mat-toolbar-row {
  justify-content: space-between;
}

.toolbar-link {
  padding: 0.5rem 1rem;
  margin: 0 1.5rem;
  min-width: 12rem;
  transition: background 0.2s ease-in;
  text-decoration: none;
  color: #85A1FF;

  mat-icon {
    margin-right: 0.5rem;
  }

  &:hover {
    background: #85A1FF;
  }
}

.active-link {
  color: #fff;
}