mat-toolbar-row {
  justify-content: space-between;
}

.toolbar-link {
  color: #85A1FF;
  padding: 0.5rem 1rem;
  margin: 0 1.5rem;
  min-width: 12rem;
  text-decoration: none;
  transition: color 0.2s ease-in;
  transition: font-size 0.1s ease-in;

  mat-icon {
    margin-right: 0.5rem;
    vertical-align: text-top;
  }
}

.active-link {
  color: #fff;
  font-size: 1.5rem;
  vertical-align: text-top;
}