.experiments-list {
  mat-list-item {
    color: blue;

    .mat-list-item-content {
      font-weight: 600;
      
      span {
        margin: 0 0.5rem 0 0;
      }
  
      .spacer {
        width: 100%;
      }
    }
  }
}