.experiments-list {
  .mat-list-item {
    color: blue;

    .mat-list-item-content {
      .state {
        justify-self: flex-end;
      }
  
      .spacer {
        width: 100%;
      }
    }

  }
}
