:root {
  --spacing-s: 1rem;
  --spacing-m: 1.3rem;
  --spacing-l: 1.6rem;
  --spacing-border-gap: 8rem;
  --input-font-size: 1.3rem;
  --alert-color: #ffce00;
}

html {
  position: relative;
}

* {
  box-sizing: border-box;
}

html, body, app-root { height: 100%; }
body { margin: 0; font-family: Nunito, "Helvetica Neue", sans-serif; }

app-simple-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  main {
    flex: 1 0 auto;
  }

  footer {
    flex-shrink: 0;
  }
}

router-outlet {
  height: 100%;
  width: 100%;
}
.spacer {
  flex: 1 1 auto;
}
