@import '~@angular/material/theming';

.card-full {
  display: flex;
  flex-direction: column;

  flex-direction: column;
  height: calc(100% - 1rem);
  transform: translateY(0.5rem);

  mat-card-header {
    background-color: #ddd;
  }

  mat-card-content {
    flex: 1 1 auto;
  }

  mat-card-footer {
    background-color: #ddd;
    border-top: 1px solid #a4a5a7;
    flex-shrink: 0;
    padding: 0.25rem 1rem;
  }
}

mat-card.pane {
  > *:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  > * {
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
  }

  > *:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
  }

  mat-card-header {
    background: var(--primary-color);
    color: var(--text-primary-color);
    padding: 1rem 0;
  }

  mat-card-content {
    padding: 1rem 0 0 0;

    .mat-form-field {
      width: calc(100% - 2rem);
      margin: 0 1rem;
    }
  }

  math-hint {
    padding-bottom: 0.5rem;
  }
}
